<div id="imagen">
	<h3><%= @nombrePeli %></h3>
	<img src="assets/<%= @imagen %>" title="lOS VENGADORES">
</div>

<div id="descargas">
	<a href="" title="">Descarargar</a>
	<p>Servidores</p>
	<p>Mega,Upload,Rapishared,Mediafire</p>
	<% if user_signed_in? %>
	<a href="" title=""><%= @linkMega %></a>
	<a href="" title=""><%= @linkRapi %></a>
	<a href="" title=""><%= @linkRapi %></a>
	<% else %>
		<p>Registrate o Inicia session para ver</p>
	<% end %>
</div>