<!DOCTYPE html>
<html>
<head>
  <title>Pag4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="cabecera">Ultra Descargas</h1>

<div class="navegacion">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="batman" title="">Batman</a></li>
	  <li><a href="superman" title="">Superman</a></li>
	</ul>
</div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
